body {
	margin: 0;
}
.main_grid {
	display: grid;
	grid-template-columns: 100px 1fr 100px;
	grid-template-rows: 50px 1200px 100px;
}
.show_place {
	grid-area: 2 / 2 / 3 / 3;
}
.saloons_show {
	background: white url("images/saloons.jpg") no-repeat;
	height: 1200px;
}