body {
	margin: 0;
}
.main_grid {
	display: grid;
	grid-template-columns: 100px 1fr 100px;
	grid-template-rows: 50px 1200px 100px;
}
.show_place {
	grid-area: 2 / 2 / 3 / 3;
}
.shops_show {
	background: white url("images/shops.jpeg") no-repeat;
	background-size: contain;
	height: 1200px;
}