{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">

<script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>

<script type="text/javascript" src="{% static 'main/myscript.js' %}"> </script>

<div class="main_grid">	
	<div class="show_place">
		<div id="show_place_pers">
			{% block showpers %}
				{% include "personal/show.html" %}
			{% endblock %}
		</div>
		<div id="show_place_girls">
			{% block showgirls %}
				{% include "main/show.html" %}
			{% endblock %}
		</div>
		<div id="show_place_saloons">
			{% block showsaloons %}
				{% include "saloons/show.html" %}
			{% endblock %}
		</div>
		<div id="show_place_shops">
			{% block showshops %}
				{% include "shops/show.html" %}
			{% endblock %}
		</div>
		<div id="show_place_media">
			{% block showmedia %}
				{% include "media/show.html" %}
			{% endblock %}
		</div>
		<div id="show_place_places">
			{% block showplaces %}
				{% include "appartaments/show.html" %}
			{% endblock %}
		</div>
		<div id="show_place_casino">
			{% block showcasino %}
				{% include "casino/show.html" %}
			{% endblock %}
		</div>
		
	</div>	
</div>
