{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'sellers/style.css' %}">

<div class="maincast">
	<div>Presentation</div>

	<div class="contentshow">
		<div class="cardview">
			<div>1</div>
			<div class="cardview_foto">
				<img src="{% static 'sellers/images/girl1.jpg' %}" width="130" height="185">
			</div>
			<div class="cardview_text">
				<p>Name: Alexa</p>
				<p>Location: Russia</p>
				<p>Tits: 4</p>
				<p>Services: Classic, Anal, Escort</p>
				<p>Price: 100$/hour</p>
			</div>
			<div class="cardview_buttons">
				<input type="submit" onclick="window.location='/orders/new/2/'" value="Order" class="pers_button_dep w-button">
			</div>
		</div>
		<div class="item2">
			2
			<input type="submit" onclick="window.location='/orders/new/2/'" value="Order" class="pers_button_dep w-button">
		</div>
		<div class="item3">
			3
			<input type="submit" onclick="window.location='/orders/new/2/'" value="Order" class="pers_button_dep w-button">
		</div>
		<div class="item2">4</div>
		<div class="item3">5</div>
		<div class="item1">6</div>
	</div>
</div>