{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'personal/style.css' %}">

<div class="pers_menu_top">
	<div></div>
	<div>
		<input type="submit" value="Client profile" class="pers_button w-button">
	</div>
	<div></div>
	<div>
		<input type="submit" value="Seller profile" class="pers_button w-button">
	</div>
	<div></div>
	<div>
		<input type="submit" value="My Saloons" class="pers_button w-button">
	</div>
	<div></div>
	<div>
		<input type="submit" value="My Shops" class="pers_button w-button">
	</div>
	<div></div>
	<div>
		<input type="submit" value="My Media" class="pers_button w-button">
	</div>
	<div></div>
	<div>
		<input type="submit" value="My Places" class="pers_button w-button">
	</div>
</div>