{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'MainApp/menutop.css' %}">

<script type="text/javascript">
	function price_btc() {
		var xhr = new XMLHttpRequest();
		xhr.open('GET', 'https://api.coinmarketcap.com/v1/ticker/bitcoin/', false);
		xhr.send();
		var price_usd = JSON.parse(xhr.responseText)['0']['price_usd'];
		price_usd = parseFloat(price_usd).toFixed(2);		
		return price_usd;
	};

	function price_eth() {
		var xhr = new XMLHttpRequest();
		xhr.open('GET', 'https://api.coinmarketcap.com/v1/ticker/ethereum/', false);
		xhr.send();
		var price_usd = JSON.parse(xhr.responseText)['0']['price_usd'];
		price_usd = parseFloat(price_usd).toFixed(2);		
		return price_usd;
	};
</script>

<div class="menutop">
	
	<div class="menutop_grid">		
		
		<div class="menutop_place_logo">
			<input type="submit" onclick="window.location='/main/'" value="" class="menutop_button_main w-button">
		</div>

		<div class="menutop_place_search">			
		</div>

		<div class="menutop_place_username">			
			<input type="submit" onclick="window.location='/admin/'" value="" class="menutop_button_admin w-button">
		</div>

		<div class="menutop_place_favourite">			
		</div>

		<div class="menutop_place_orders">
			<input type="submit" onclick="window.location='/orders/myorders/'" value="" class="menutop_button_orders w-button">
		</div>

		<div class="menutop_place_messages">			
		</div>

		<div class="menutop_place_balance_btc">
			<div class="balance_inside" id="price_btc">
				BTC/USD<br>
				<script>document.write(price_btc());</script>
			</div>
		</div>
		<div class="menutop_place_balance_eth">
			<div class="balance_inside" id="price_eth">
				ETH/USD<br>
				<script>document.write(price_eth());</script>
			</div>
		</div>
		<div class="menutop_place_auth">
			<input type="submit" onclick="window.location='/logout/'" value="Log out" class="menutop_button w-button">
		</div>		

	</div>
	
</div>