{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'MainApp/menuleft.css' %}">

<div class="menuleft">
	<div class="link_list">		
		<div class="link_account">
			<input type="submit" onclick="window.location='/account/'" value="Account" class="link_button w-button">
		</div>
		<div class="link_sellers">
			<input type="submit" onclick="window.location='/sellers/'" value="Girls" class="link_button w-button">
		</div>
		<div class="link_saloons">
			<input type="submit" onclick="window.location='/saloons/'" value="Saloons" class="link_button w-button">
		</div>
	</div>	
</div>