{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'MainApp/menuleft.css' %}">

<div class="menuleft">
	<div class="link_list">		
		<div class="link_personal">
			<input type="submit" id="but_pers" value="Account" class="link_button w-button">
		</div>
		<div class="link_main">
			<input type="submit" id="but_girls" value="Girls" class="link_button w-button">
		</div>
		<div class="link_saloon">
			<input type="submit" id="but_saloons" value="Saloons" class="link_button w-button">
		</div>
		<div class="link_shop">
			<input type="submit" id="but_shops" value="Shops" class="link_button w-button">
		</div>
		<div class="link_prn">
			<input type="submit" id="but_media" value="Media" class="link_button w-button">
		</div>
		<div class="link_appartaments">
			<input type="submit" id="but_places" value="Places" class="link_button w-button">
		</div>
		<div class="link_casino">
			<input type="submit" id="but_casino" value="Casino" class="link_button w-button">
		</div>

	</div>	
</div>