.new_user_grid {
	display: grid;
	grid-template-columns: 300px 250px 1fr 100px;
	grid-template-rows: 1200px;
}
.new_user_text {
	grid-area: 1 / 2 / 2 / 3;
	margin-right: 50px;
	text-align: right;
}
.new_user_form {
	grid-area: 1 / 3 / 2 / 4;
}